## Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:  

Introduction to Variables  
Declaring and Assigning Variables  
Naming Conventions  
Understanding Variable Types  
Type Checking and Conversion  
Dynamic Typing  
Practical Examples and Common Errors

In [1]:
a=100

In [3]:
## Declaring And Assiging Varibles
age =20
hight=5.6
name='Gaurav'
is_Student=True

## printing the variables

print('Age :',age)
print('Height :',hight)
print("Name :",name)

Age : 20
Height : 5.6
Name : Gaurav

In [4]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive


#valid variable names
first_name = 'Gaurav'
last_name='Singh'

In [6]:
## Invalid Variable Name
# 2age=30
# first-name = 'Gaurav'
# @name='Gaurav'

In [7]:
## Case sensitivty 
name = 'Gaurav'
Name="Singh"

In [8]:
## Understand Variable RTypes
## Python is Dynamically typed ,type of a variable is determined at runtime
age =24 #float
height =5.6 #float
name= 'Gaurav' #str 
is_student = True # bool

print(type(name))

<class 'str'>

In [9]:
## Type Checking and Conversion
print(type(height))

<class 'float'>

In [11]:
age =21
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [12]:
age = '21'
print(type(int(age)))

<class 'int'>

In [13]:
name="Gaurav"
int('name')

ValueError: invalid literal for int() with base 10: 'name'

In [14]:
height = 5.6
type(height)

float

In [15]:
int(height)

5

In [16]:
float(int(height))

5.0

In [18]:
## Dynamic Typing
## Python allow the type of a variable to change as the progream executes
var=10
print(var,type(var))

var="Hello"
print(var,type(var))

var =3.12
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.12 <class 'float'>

In [4]:
## Input in python 
age = int(input("Ente the age"))
print(age,type(age))

12 <class 'int'>

In [6]:
## Simple Calculator 
num1=int(input("Enter num1"))
num2=int(input('Enetr num2'))

sum=num1+num2
sub=num1-num2
product=num1*num2
division=num1/num2

print("Sum :",sum)
print("Subtract:",sub)
print("Product :",product)
print("Divison:",division)

Sum : 14
Subtract: 10
Product : 24
Divison: 6.0